.containermadal3{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    bottom: 17%;
    // margin-left: 15%;
    // margin-bottom: 50%;
    border-radius: 3%;
    background-color: #1B1B1B;

    .cammodal3-div1{
        width: 60%;
        height: 10%;
        display: flex;
       // background-color: aquamarine;
        position: relative;
        left: 2%;
        top: 2%;
        justify-content: space-between;
        
        .div1-content{
            width: 40%;
            height: 60%;
            justify-content: space-between;
            align-items: center;
           // background-color:orange;
            position: relative;
            top: 18%;
            left: 5%;
            align-items: center;
        }
    
    }



    .cammodal3-div2{

        width: 75%;
        height: 70%;
        position: relative;
        left: 13%;
        top: 3%;
        display: flex;
        background-color:#1B1B1B;
       // border-radius: 7%;


        .cammodal3-div2content{
            width: 95%;
            height: 95%;
           //background-color: yellowgreen;
           
            position: relative;
            left: 2.5%;
            top: 2.5%;

           
           
        }

       

    }

    .cammodal3-div3{
        width:20%;
        height: 10%;
        //background-color: yellow;
        position: relative;
        left: 43%;
        top: 5%;

        .btn{
            width: 90% ;
            height: 80%;
            background-color: #0E48F6;
            position: relative;
            left:5%; 
            top: 10%;
            align-content: center;
            align-items: center;
            padding-top: 5%;
        }

    }
   
    
}